# Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Training Set

In [2]:
# Importing the dataset
df = pd.read_excel('WHR20_DataForTable2.1.xls')
df.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,...,GINI index (World Bank estimate),"GINI index (World Bank estimate), average 2000-2017, unbalanced panel","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014"
0,Afghanistan,2008,3.723590,7.144916,0.450662,50.799999,0.718114,0.178993,0.881686,0.517637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2009,4.401778,7.314788,0.552308,51.200001,0.678896,0.201228,0.850035,0.583926,...,NaN,NaN,0.441906,0.286315,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,4.758381,7.421525,0.539075,51.599998,0.600127,0.131578,0.706766,0.618265,...,NaN,NaN,0.327318,0.275833,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2011,3.831719,7.394349,0.521104,51.919998,0.495901,0.173452,0.731109,0.611387,...,NaN,NaN,0.336764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,3.782938,7.480296,0.520637,52.240002,0.530935,0.246943,0.775620,0.710385,...,NaN,NaN,0.344540,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.iloc[:, 0:9]
df.columns = ["Country", "Year", "Ladder", "GDP", "Support", "Health", "Freedom", "Generosity",\
             "Corruption"]
df.head()

,Country,Year,Ladder,GDP,Support,Health,Freedom,Generosity,Corruption
0,Afghanistan,2008,3.723590,7.144916,0.450662,50.799999,0.718114,0.178993,0.881686
1,Afghanistan,2009,4.401778,7.314788,0.552308,51.200001,0.678896,0.201228,0.850035
2,Afghanistan,2010,4.758381,7.421525,0.539075,51.599998,0.600127,0.131578,0.706766
3,Afghanistan,2011,3.831719,7.394349,0.521104,51.919998,0.495901,0.173452,0.731109
4,Afghanistan,2012,3.782938,7.480296,0.520637,52.240002,0.530935,0.246943,0.775620

In [4]:
df.shape

(1848, 9)

In [5]:
df.describe()

,Year,Ladder,GDP,Support,Health,Freedom,Generosity,Corruption
count,1848.000000,1848.000000,1819.000000,1835.000000,1796.000000,1817.000000,1765.000000,1745.000000
mean,2012.848485,5.445810,9.244531,0.811132,63.169525,0.738467,0.000109,0.749064
std,3.962437,1.118989,1.168422,0.118987,7.546524,0.143059,0.163220,0.186156
min,2005.000000,2.375092,6.456574,0.290184,32.299999,0.257534,-0.331775,0.035198
25%,2010.000000,4.623136,8.309359,0.748296,58.299999,0.643062,-0.117175,0.692724
50%,2013.000000,5.363165,9.407829,0.833975,65.099998,0.757478,-0.023724,0.803634
75%,2016.000000,6.268130,10.209482,0.904574,68.384998,0.852387,0.091154,0.873649
max,2019.000000,8.018934,11.728235,0.987343,77.099998,0.985178,0.679921,0.983276

In [6]:
df.isnull().sum()

Country         0
Year            0
Ladder          0
GDP            29
Support        13
Health         52
Freedom        31
Generosity     83
Corruption    103
dtype: int64

In [7]:
df.Country[df.Corruption.isnull()]

27      Algeria
28      Algeria
107     Bahrain
108     Bahrain
109     Bahrain
         ...
1804    Vietnam
1806    Vietnam
1809      Yemen
1817      Yemen
1818      Yemen
Name: Country, Length: 103, dtype: object

In [8]:
df[df.Corruption.isnull()].groupby(["Country"]).Country.count()

Country
Algeria                  2
Bahrain                  4
Cambodia                 1
China                   14
Congo (Brazzaville)      1
Cuba                     1
Egypt                    5
Ethiopia                 1
Jordan                  10
Kuwait                   7
Laos                     1
Libya                    2
Madagascar               1
Maldives                 1
Malta                    5
Oman                     1
Qatar                    4
Saudi Arabia            11
Singapore                1
South Africa             1
Sweden                   1
Turkmenistan            10
United Arab Emirates     9
Uzbekistan               2
Vietnam                  4
Yemen                    3
Name: Country, dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

Country       0
Year          0
Ladder        0
GDP           0
Support       0
Health        0
Freedom       0
Generosity    0
Corruption    0
dtype: int64

In [11]:
df.shape

(1627, 9)

In [12]:
df.to_csv("train.csv", header=True, index=False)

# Test Set

In [13]:
dataset = pd.read_excel('WHR20_DataForFigure2.1.xls')
df_test = dataset.iloc[:, [0, 1, 2, 6, 7, 8, 9, 10, 11]]
df_test.columns = ["Country", "Region", "Ladder", "GDP", "Support", "Health", "Freedom", "Generosity",\
             "Corruption"]
df_test.head()

,Country,Region,Ladder,GDP,Support,Health,Freedom,Generosity,Corruption
0,Finland,Western Europe,7.8087,10.639267,0.954330,71.900826,0.949172,-0.059482,0.195445
1,Denmark,Western Europe,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489
2,Switzerland,Western Europe,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728
3,Iceland,Western Europe,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710
4,Norway,Western Europe,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218

In [14]:
df_test.describe()

,Ladder,GDP,Support,Health,Freedom,Generosity,Corruption
count,153.00000,153.000000,153.000000,153.000000,153.000000,153.000000,153.000000
mean,5.47324,9.295706,0.808721,64.445529,0.783360,-0.014568,0.733120
std,1.11227,1.201588,0.121453,7.057848,0.117786,0.151809,0.175172
min,2.56690,6.492642,0.319460,45.200001,0.396573,-0.300907,0.109784
25%,4.72410,8.350645,0.737217,58.961712,0.714839,-0.127015,0.683019
50%,5.51500,9.456313,0.829204,66.305145,0.799805,-0.033665,0.783122
75%,6.22850,10.265124,0.906747,69.289192,0.877709,0.085429,0.849151
max,7.80870,11.450681,0.974670,76.804581,0.974998,0.560664,0.935585

In [15]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     153 non-null    object
 1   Region      153 non-null    object
 2   Ladder      153 non-null    float64
 3   GDP         153 non-null    float64
 4   Support     153 non-null    float64
 5   Health      153 non-null    float64
 6   Freedom     153 non-null    float64
 7   Generosity  153 non-null    float64
 8   Corruption  153 non-null    float64
dtypes: float64(7), object(2)
memory usage: 10.9+ KB

In [16]:
df_test.to_csv("test.csv", header=True, index=False)